/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
*/

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
}
a{
    color:white;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans', sans-serif;
}
header{
    padding:10px;
    border-bottom: 1px solid #CCCCCC;
    color:white;
    width:100%;
    top:0px;
    background-color: #2394F2;
    position: relative;
}
header #logo, header a{
    display:inline-block;
    color:white;
    text-decoration: none;
}
header nav {
    display:inline-block;
    position:absolute;
    right:10px;
    margin-right: 20px;
}
header nav ul li{
    display:inline-block;
    list-style:none;
    padding-right: 10px;
}

form{
    padding:10px;
    margin:0px;
    border:2px solid #c0c0c0;
}
form ul li label, form ul li input[type=text], form ul li input[type=password]{
    display:block;
    width:100%;
}
form ul li input[type=text], form ul li input[type=password]{
   margin-bottom:10px;
}
#main-navigation{
    display:inline-block;
    width:182px;
    min-height:90%;
    background: none repeat scroll 0 0 #404040;
    z-index: 100;
}
#main-navigation + #main {
    width:calc(100% - 250px);
}
.sidebar-scroll {
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    width: 180px;
    z-index: 100;
}
#main-navigation ul {
    margin-bottom: 180px !important;
}
#main-navigation .navbar-search {
    border: 0 none;
    box-shadow: none !important;
}
#main-navigation.closed {
    display: none;
}
#main-navigation > ul {
    border-radius: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#main-navigation > ul > li {
    border: 0 none;
    display: block;
    line-height: 30px;
    margin: 0 0 1px;
    padding: 0;
}
#main-navigation > ul > li > a {
    background: none repeat scroll 0 0 #505050;
    border: 0 none;
    border-radius: 0 !important;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    padding: 5px 15px;
    color:white;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition-duration: 500ms;
    transition-property: width, background;
    transition-timing-function: ease;
    width: 150px;
}
#main-navigation > ul > li > a > span {
    display: inline-block;
    line-height: normal;
}
#main-navigation > ul > li a i {
    color: #eaeaea;
    font-size: 16px;
}
#main-navigation > ul > li a i {
    width: 25px;
}
#main-navigation > ul > li.active > a {
    border: medium none;
}
#main-navigation > ul > li.active > a .arrow {
    margin-right: 0;
}
#main-navigation > ul > li.active > a .arrow.open {
    margin-right: 0;
}
#main-navigation ul > li > a .arrow {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #a0a0a0;
    border-top: 4px solid transparent;
    float: right;
    height: 0;
    margin-right: 0;
    margin-top: 12px;
    width: 0;
}
#main-navigation > ul > li > a .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #a0a0a0;
    float: right;
    height: 0;
    margin-right: 0;
    margin-top: 14px;
    width: 0;
}
#main-navigation ul > li.active > a .arrow, #main-navigation ul > li > a:hover .arrow {
    border-bottom: 4px solid transparent;
    border-left: 4px solid #fff;
    border-top: 4px solid transparent;
    float: right;
    height: 0;
    margin-right: 0;
    margin-top: 12px;
    width: 0;
}
#main-navigation > ul > li.active > a .arrow.open, #main-navigation > ul > li > a:hover .arrow.open {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid #fff;
    float: right;
    height: 0;
    margin-right: 0;
    margin-top: 14px;
    width: 0;
}
#main-navigation > ul > li > ul.sub {
    clear: both;
    display: none;
    list-style: none outside none;
    margin: 0;
}
#main-navigation > ul > li > ul.sub {
    margin-bottom: 0 !important;
}
#main-navigation > ul > li.active > ul.sub {
    display: block;
    margin-bottom: 0 !important;
}
#main-navigation > ul > li > ul.sub > li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    margin-bottom: 1px;
    padding: 0;
}
#main-navigation > ul > li > ul.sub > li > a {
    color: #ccc;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    padding: 10px 10px 10px 45px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 1px #000;
}

#main{
    display:inline-block;
    vertical-align: top;
    min-height: calc(100% - 86px);
    margin-bottom: -22px; 
    padding:20px;
    padding-top:0px;
    width:100%;
}
#main > h1{
    margin-top: 10px;
}
#main:after {
  content: "";
  display: block;
}
footer, #main:after {
    height: 22px; 
}

footer{
    background-color:#f0f0f0;
    text-align:center;
}
input[type=submit]{
    background-color: #006DCC;
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
     border-radius: 6px 6px 6px 6px;
    font-size: 17.5px;
    padding: 11px 19px;
    
}


input[type=submit], button{
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle;
}

.message{
    padding:10px;
}

.message.error{
    border:1px solid red;
    background-color:pink;
    color:red;
    margin-bottom:10px;
}
.message.success{
    border:1px solid green;
    background-color:greenyellow;
    color:green;
    margin-bottom:10px;
}
.dashboard-module li{
    display: inline-block;
}
.dashboard-module li a{
    background-color: #90C66E;
    position:relative;
    color:white;
    height: 110px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    width: 110px;

}
.dashboard-module li:first-child a{
    margin-left: 0px;
}
.dashboard-module li a span{
    background-color: #74b64a;
    bottom: 0;
    display: inline-block;
    text-align: left;
    left:0px;
    padding: 10px;
    font-size:12px;
    position: absolute;
    width: calc(100% - 20px);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
*/

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
*/

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
    */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
