.content-nav{
    display: inline-block;
    width: 200px;
    border-right: 1px solid lightgray;
    &:empty{
        display:none;
        & + .content-main{
            width: 100%;
        }
    }
}
