@import
"../vendor/components-font-awesome/scss/font-awesome",
"./variables",
"./buttons",
"./animation",
"./navigation",
"./content",
"../components/components",
"../modules/dashboard/dashboard",
"../modules/login/login",
"../modules/inventory-list/inventory-list",
"../modules/inventory-view/inventory-view"
;

html{
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Arvo', serif;
}

#main{
    display: flex;
    overflow: hidden;
    padding: 0;
}

