<nav id="nav-menu" role="navigation">
    <ul class="container">
        <li class="logo-options">
            <a ui-sref="home" ng-if="!$ctrl.loggedIn"><span class="logo"></span></a>
            <a ui-sref="app.dashboard" ng-if="$ctrl.loggedIn"><span class="logo"></span></a>
        </li>
        <li class="menu-options">
            <a ng-click="$ctrl.loginModal()" ng-if="!$ctrl.loggedIn"><span class="fa fa-sign-in"></span></a>
            <a ng-click="$ctrl.logoutModal()" ng-if="$ctrl.loggedIn"><span class="fa fa-sign-out"></span></a>
        </li>
    </ul>
</nav>
