#nav-menu{
    width:100%; height:65px;
    background-color: $primary;
    > ul{
        z-index:10;
        position: relative;
        color: white;
        padding-left: 0px;
        text-align: right;
        &.fixed{
            position:fixed;
            top: 0; left: 0;
            width: 100%;
            background-color: $primary;
        }
        li {
            padding: 10px;
            display: inline-block;
            height: 55px;
            a {
                color:$primary-text;
                text-decoration: none;
                font-weight:200;
                font-size: 2rem;
                cursor: pointer;
                &:hover, &:active, &.active{
                    color:$secondary;
                }
            }

            &.logo-options{
                position:absolute;
                left: 0px;
                a {
                    font-weight:600;
                    .logo{
                        background-image: url('/styles/images/logo.svg');
                        width: 126px;
                        height: 44px;
                        display: inline-block;
                    }
                }
            }
            &.menu-options{
                margin-top: 10px;
                margin-right:-10px;
            }

        }
    }
}
