<modal instance="ctrl.$uibModalInstance">
    <form name="loginForm">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="text" ng-model="ctrl.credentials.email" />
        <label for="password">Password</label>
        <input id="password" name="password" type="{{ctrl.inputType}}" ng-model="ctrl.credentials.password" />
        <input id="showPassword" name="showPassword" type="checkbox"
               ng-model="ctrl.inputType"
               ng-true-value="'text'"
               ng-false-value="'password'">
        <label for="showPassword">Show Password</label>
        <button type="button" ng-click="ctrl.login()" ng-if="ctrl.mode === 'login'">Login</button>
        <button type="button" ng-click="ctrl.register()" ng-if="ctrl.mode === 'register'">Register</button>
    </form>
    <register ng-if="ctrl.mode === 'register'"></register>
    <button ng-click="ctrl.registerToggle()">
        <span  ng-if="ctrl.mode === 'login'">Or Register</span>
        <span  ng-if="ctrl.mode === 'register'">Or Login</span>
    </button>
</modal>
