.modal-login{
    form{
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                label{
                    display:block;
                }
                input[type='checkbox']{
                    display:inline;
                    &+label{
                        display:inline;
                    }

                }
            }
        }
    }
    .modal-footer{
        button{
            width: 49%;
            diplay: inline-block;
        }
    }
}
