<modal modal-instance="ctrl">
    <form name="loginForm" ng-submit="ctrl.login();" >
        <label for="email">Email Address</label>
        <input id="email" name="email" type="text" ng-model="ctrl.credentials.email" />
        <label for="password">Password</label>
        <input id="password" name="password" type="{{ctrl.inputType}}" ng-model="ctrl.credentials.password" />
        <input id="showPassword" name="showPassword" type="checkbox"
               ng-model="ctrl.inputType"
               ng-true-value="'text'"
               ng-false-value="'password'">
        <label for="showPassword">Show Password</label>
        <button type="submit">Login</button>
        <button type="button" ng-click="ctrl.authenticate('facebook')">Sign in with Facebook</button>
        <a ui-sref="register">Or Sign Up</a>
    </form>
</modal>
