<form name="registerForm" ng-submit="ctrl.signUp();">
    <label for="email">Email Address</label>
    <input id="email" name="email" type="text" ng-model="ctrl.user.email" />
    <label for="password">Password</label>
    <input id="password" name="password" type="{{ctrl.inputType}}" ng-model="ctrl.user.password" />
    <input id="showPassword" name="showPassword" type="checkbox"
           ng-model="ctrl.inputType"
           ng-true-value="'text'"
           ng-false-value="'password'">
    <label for="showPassword">Show Password</label>
    <button type="submit">Join</button>
    <a ui-sref="login">Or Login</a>
</form>
