@import "./components/inventory/inventory";

.inventory-list{

    list-style: none;
    margin: 0;
    padding:0;
    .inventory-item {
        width: 100%;
        padding: 0 0 0 10px;
        &:hover, &.active {
            background-color: white;
            a {
                color: $secondary;
                text-decoration: none;
            }
        }
    }
}
